/home/hiroto/fast_api_portfoilo/frontend/node_modules/*
.env
dust/*
memo.txt
venv/*
keys/gen-lang-client-0738370520-45d672cb2326.json
keys/*
/home/hiroto/fast_api_portfoilo/backend/app/keys/*
venv/*
frontend/node_modules/*
.env
dust/*


backend/__pycache__/*
backend/__pycache__/*
__pycache__/*
backend/app/api/__pycache__/*
backend/app/models/__pycache__/*
backend/app/schemas/__pycache__/*
backend/app/services/__pycache__/*

backend/db.sqlite3
backend/app/db.sqlite3

frontend/.next/*

memo.txt
backend/keys/gen-lang-client-0738370520-45d672cb2326.json
keys/*
app/keys/*
*.pyc
backend/db.sqlite3
venv/*