venv/*
frontend/node_modules/*
.env
dust/*
fast_api_portfoilo/backend/__pycache__/*
memo.txt
keys/gen-lang-client-0738370520-45d672cb2326.json
keys/*
backend/app/keys/*backend/keys/*.json
repo-backup.git/*

